@import "./globals.scss";

main
{
    position: absolute;
    top: 0;
    padding-top: $header-height;
    width: 100%;
}


.hero
{
    position: relative;
    width: 100%;
    height: 1150px;
    margin-top: -356px;

    &__bg
    {
        position: absolute;
        inset: 0;
        @media screen and ( max-width:854px)
        {
            display: none;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.66;
            background: url("../assets/heoBG.svg") center center no-repeat;
            pointer-events: none;
        }
        
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-image: linear-gradient(225deg, rgb(0, 255, 153) 0%, rgb(153, 51, 255) 100%);
            mix-blend-mode: multiply;
            opacity: 1;
            pointer-events: none;
        }
    }

    &__content
    {
        z-index: 1;
        position: absolute;
        top: 356px;
        left: 50%;
        transform: translateX(-50%);
        height: 679px;
        width: 100%;
        max-width: 1140px;
        color: white;
        display: flex;
        justify-content: space-between;


        @media screen and ( max-width:854px) {
            display: unset;
            justify-content: unset;
            .hero__content__left,.hero__content__right
            {
                position: absolute;
                inset: 0;
            }
            .hero__content__left
            {
                z-index: 2;
                width: 100%;
                padding: 15vmin 15% 0 5%;
                box-sizing: border-box;

                @media screen and (max-width:400px)
                {
                    padding: 15vmin 3% 0 4%;
                    p{
                        width: 90%;
                    }
                }

                h1{
                    width: 90%;
                    @media screen and (max-width:400px)
                    {
                        font-size: 2rem;
                    }
                }
                p{
                    width: 70%;
                }
                
            }
            .hero__content__right
            {
                z-index: 1;
                opacity: .4;
                video{
                    width: 70%;
                    height: auto;
                }
                @media screen and (max-width:474px)
                {
                    width: 100%;
                }
            }
        }

        &__left
        {
            max-width: 600px;
            box-sizing: content-box;
            padding: 15vmin 0 0 5%;
            width: 50%;
            background: transparent;
            //border: 1px solid red;
            h1{
                font-family: "Montserrat-Bold";
                font-weight: 900;
                font-size: 2.8rem;
                
            }
            p{
                font-family: "interface";
                width: 90%;
                font-size: 1.1rem;
                margin: 4vmin 0;
                line-height: 1.8rem;
                color: darkgray;
            }
        }

        &__right
        {
            margin-top: -50px;
            width: 470px;
            height: 100%;
            position: relative;
            &::before
            {
                content: "";
                position: absolute;
                height: 100px;
                background: black;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 2;
            }
            video{
                position: absolute;
                z-index: 1;
                right: 0;
                top: 0;
                width: 450px;
                height: auto;
                vertical-align: baseline;
                object-fit: contain;
                clip-path: polygon(13.52% 91.93%, 13.07% 90.05%, 13.75% 88.23%, 14.69% 86.49%, 15.25% 79.85%, 0px 61%, 20.33% 2.96%, 86.69% 1.96%, 86.4% 38.29%, 93.53% 47.96%, 87.77% 47.72%, 86.34% 88.9%, 86.61% 92.73%, 82.96% 96.63%, 16.86% 94.49%);
            }
        }
    }

    &__marquie
    {
        height: 100px;  
        width: 100vw;
        overflow-x: hidden;
        //background: red;
        position: absolute;
        bottom: 0;
        top: 860px;
        z-index: 0;
        overflow-y: hidden;
        .marquee-container
        {
            height: 100%;
            display: flex;
            
            .marquee-part1,.marquee-part2
            {
                height: 100%;
                display: flex;
                li{
                    height: 100%;
                    padding: 0 20px;
                    box-sizing: content-box;
                    img{
                        
                        opacity: .5;
                        height: 120px;
                        width: auto;
                    }
                }
                
            }

            .marquee-part1
            {
                animation: marquee-animation1 31s infinite linear;

                @keyframes marquee-animation1 {
                    from{
                        transform: translateX(0);
                    }to{
                        transform: translateX(-100%);
                    }
                }
            }
            .marquee-part2
            {
                animation: marquee-animation1 31s infinite linear;

                @keyframes marquee-animation1 {
                    from{
                        transform: translateX(0);
                    }to{
                        transform: translateX(-100%);
                    }
                }
            }
        }
        
    }
}

.subhero
{
    position: relative;
    width: 100%;
    margin-top: -200px;
    &__bg
    {
        position: absolute;
        inset: 0;
        height: 365px;
        margin-top: 100px;
        &::before 
        {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.66;
            background: url("../assets/subHeroBG.svg") top center no-repeat;
            pointer-events: none;
        }
        &::after 
        {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-image: linear-gradient(225deg, rgb(0, 255, 153) 0%, rgb(153, 51, 255) 100%);
            mix-blend-mode: multiply;
            opacity: 1;
            pointer-events: none;
        }
    }
    &__content
    {
        position: absolute;
        height: 100%; 
        width: 100%;
        .presentation
        {
            padding-top: 10vmin;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            &__top
            {
                width: 65%;
                display: flex;
                align-items: center;
                flex-direction: column;
                p{
                    text-align: center;
                    font-size: 1.1rem;
                    font-weight: 300;
                    line-height: 1.8rem;
                    font-family: "interface-light";

                }
                &__logo{
                    max-width: 400px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }   

            &__bottom
            {
                margin-top: 15vmin;
                width: 93%;
                &__content
                {
                    display: flex;
                    justify-content: space-between;
                    font-family: "interface";
                    .presentation__bottom__element
                    {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        //background: black;
                        img{
                            max-height: 213px;
                            width: auto;
                            @media screen and (max-width:865px) {
                                max-height: 180px;
                            }
                            
                        }
                        h2{
                            margin: 5vmin 0;
                        }
                        p{
                            text-align: center;
                            color: darkgray;
                            line-height: 1.5rem;
                            width: 80%;
                        }
                        
                        
                        
                    }

                    @media screen and (max-width:735px) {
                        flex-direction: column;
                        .presentation__bottom__element
                        {
                            margin: 0 0 5vmin 0;
                            width: 100%;
                            p{
                                font-size: 1.1rem;
                                width: 90%;
                            }
                        }
                    }
                }
            }

            blockquote
            {
                width: 90%;
                color: rgb(99, 99, 99);
                font-family: "interface";
                text-align: center;
                margin: 10vmin 0;
                font-size: .8rem;
                font-weight: 300;
            }
        }
    }
}

.caroussel
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &>img{
        width: 100px;
        height: 100px;
    }
    h1{
        font-size: clamp(1.2rem,3vw,2.5rem);
        font-family: "Montserrat-Bold";
        text-align: center;
        margin: 5vmin 0;
        padding: 2vmin 0 16vmin 0;
    }
    .caroussel__container
    {
        height: 470px;
        min-height: 470px;
        max-height: 470px;
        width: 100%;
        position: relative;
        
        &__slides
        {
            position: absolute;
            inset: 0;
            z-index: 0;
    
            .caroussel__slide
            {
                position: absolute;    
                inset: 0;
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(-116.565deg, rgb(0, 255, 153) 0%, rgb(153, 51, 255) 100%);
                background-size: 300% 300%;

                &.active
                {
                    opacity: 1;
                    .caroussel__slide__stickers
                    {
                        @keyframes sticker-apear {
                            from{
                                transform: scale(0);
                            }to{
                                transform: scale(1);
                            }
                        }
                        img{
                            &:first-of-type
                            {
                                animation: sticker-apear .3s .2s forwards;
                            }
                            &:last-of-type
                            {
                                animation: sticker-apear .3s .3s forwards;
                            }
                            
                        }
                    }
                }
                &.inactive
                {
                    opacity: 1;
                    animation: slide-disapear .5s forwards;
                    @keyframes slide-disapear {
                        from{
                            opacity: 1;
                        }to{
                            opacity: 0;
                        }
                    }
                    .caroussel__slide__stickers
                    {
                        img{
                            display: none;
                        }
                    }
                }


                &:nth-of-type(1)
                {
                    background-position: left;
                    z-index: 3;
                }
                &:nth-of-type(2)
                {
                    background-position: center;
                    z-index: 2;
                }
                &:nth-of-type(3)
                {
                    background-position: right;
                    z-index: 1;
                }

                &__content
                {
                    width: 100%;
                    max-width: 1220px;
                    padding: 0 40px;
                    color: white;
                    display: flex;
                    justify-content: space-between;
                    h3{
                        font-family: "interface";
                        font-size: 1.5rem;
                        margin: 0 0 2.5vmin 0;
                    }
                    p{
                        line-height: 1.5rem;
                        font-family: "interface-light";
                    }
                    &__left,&__right
                    {
                        width: 30%;
                    }
                    &__left
                    {
                        padding-right: 5px;
                    }
                    &__right
                    {
                        padding: 5px;
                    }
                }

                &__stickers
                {
                    position: absolute;
                    max-width: 1220px;
                    padding: 0 40px;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    img{
                        position: absolute;
                        width: 250px;
                        height: 200px;
                        transform: scale(0);
                        &:first-of-type
                        {
                            left: 0;
                            top: -100px;
                        }
                        &:last-of-type
                        {
                            right: 0;
                            bottom: -100px;
                        }
                    }
                }
            }

            .caroussel__slide:nth-of-type(1)
            {
                .theme-btn
                {
                    &__icons
                    {
                        width: 50%;
                        margin: auto;
                        display: flex;
                        justify-content: space-between;
                        img{
                            width: 40px;
                            height: 40px;
                            cursor: pointer;
                        }
                    }

                    &__container
                    {
                        width: 90%;
                        margin:4vmin  auto 0 auto;
                        height: 60px;
                        background: rgba(255,255,255,.3);
                        border-radius: 30px;
                        position: relative;
                        cursor: pointer;
                        p{
                            position: absolute;
                            top: 50%;
                            transform: translate(0,-50%);
                            font-size: 1.3rem;
                            font-family: "SpaceMono";
                            font-weight: 600;
                            &:first-of-type
                            {
                                left: 15%;
                            }
                            &:last-of-type
                            {
                                right: 15%;
                            }
                        }

                        .cursor{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 50%;
                            border-radius: 30px;
                            background: black;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.3rem;
                            font-family: "SpaceMono";
                            font-weight: 600;
                            color: #3191ff;
                            &.light
                            {
                                transform: translateX(0);
                                color: #00ccff;
                                animation: cursor-light .3s forwards;
                                @keyframes cursor-light {
                                    from{
                                        transform: translateX(0);
                                    }to{
                                        transform: translateX(100%);
                                    }
                                }
                            }
                            &.dark
                            {
                                color: #3191ff;
                                transform: translateX(100%);
                                animation: cursor-dark .3s forwards;
                                @keyframes cursor-dark {
                                    from{
                                        transform: translateX(100%);
                                    }to{
                                        transform: translateX(0);
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }

        }

        .caroussel-btn
        {
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            width: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .caroussel-btn-next
        {
            right: 0;
            img{
                transform-origin: center;
                transform: rotate(180deg);
            }
        }
        .caroussel-btn-prev
        {
            left: 0;
        }

        .smartphone
        {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 480px;
            height: 789px;

            @media screen and(max-width:500px) {
                width: 100%;
                &>img{
                    width: 100%;
                }
            }

            &>img{
                position: absolute;
            }

            .smartphone-caroussel
            {
                position: absolute;
                max-width: 279px;
                width: 279px;
                height: 76%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                overflow: hidden;
                border-radius: 37px;

            
                img{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    min-width: 100%;
                    max-width: 100%;
                    height: auto;

                    &:first-child
                    {
                        z-index: 3;
                    }
                    &:nth-child(2)
                    {
                        z-index: 2;
                    }
                    &:last-child
                    {
                        z-index: 1;
                    }

                    &.invisible
                    {
                        opacity: 0;
                    }

                    &.inactive
                    {
                        animation: img-inactive .6s  forwards;
                        @keyframes img-inactive {
                            from{
                                bottom: 0;
                            }to{
                                bottom: -100%;
                            }
                        }
                    }
                    &.active
                    {
                        bottom: -100%;
                        animation: img-active .6s  forwards;
                        @keyframes img-active {
                            from{
                                bottom: -100%;
                                
                            }to{
                                bottom: 0;
                            }
                        }
                    }
                    
                }
            }

        }

        .caroussel-indicator
        {
            position: absolute;
            width: 100%;
            max-width: 1220px;
            padding: 0 40px;
            left: 50%;
            transform: translate(-50%,0);
            top: 85%;
            height: 50px;
            z-index: 3;
            p{
                font-family: "SpaceMono";
                font-weight: 700;
                font-size: 1.2rem;
                margin: 0 0 2.7vmin 0;
            }

            .caroussel-indicator__cases
            {
                width: 225px;
                height: 3px;
                display: flex;
                justify-content: center;
                gap: 5px;
                span{
                    display: block;
                    height: 100%;
                    width: 100%;
                    background: black;

                    &.active
                    {
                        opacity: 1;
                    }
                    &.inactive
                    {
                        opacity: .4;
                    }

                }
            }
        }

        @media screen and (max-width:850px) {
            
            
            
            .caroussel-btn,.caroussel-indicator
            {
                display: none;
            }

            .caroussel__slide:not(:nth-of-type(1))
            {
                display: none;
            }

            .caroussel__slide:nth-of-type(1)
            {
                .caroussel__slide__content
                {
                    display: none;
                }
                background-size: 100% 100%;
            }

            .smartphone-caroussel img:not(:nth-of-type(1))
            {
                display: none;
            }
        }
    }

    .mobile-theme-btn
    {
        height: 100px;
        width: 100%;
        background: black;
        z-index: 3;
        display: none;
        @media screen and (max-width:850px)
        {
            display: unset;
        }

        &__container
        {
            width: 270px;
            margin:2vmin  auto 0 auto;
            height: 40px;
            background: rgba(255,255,255,.2);
            border-radius: 30px;
            position: relative;
            cursor: pointer;
            p{
                position: absolute;
                top: 50%;
                transform: translate(0,-50%);
                font-family: "SpaceMono";
                font-weight: 600;
                color: darkgray;
                &:first-of-type
                {
                    left: 15%;
                }
                &:last-of-type
                {
                    right: 15%;
                }
            }

            .cursor{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 50%;
                border-radius: 30px;
                background-image: linear-gradient(-116.565deg, rgb(0, 255, 153) 0%, rgb(153, 51, 255) 100%);
                background-size: 300% 300%;
                background-position: right;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "SpaceMono";
                font-weight: 600;
                color: black;
                &.light
                {
                    transform: translateX(0);
                    animation: cursor-light .3s forwards;
                }
                &.dark
                {
                    transform: translateX(100%);
                    animation: cursor-dark .3s forwards;
                }
            }
        }
    }
}